*{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.menu ul{
    list-style: none;
}

.menu .opcion{
    padding:20px;
}

.menu .opcion li a{
    text-decoration: none;
    padding: 15px;
    color: black;
    border: black solid;
}

.menu .opcion li a:hover{
    color: white;
    background-color: black;
}

/*
.menu .opcion .back a:hover{
    color: white;
    background-color: red;
}
*/
