<h1> Datos del Cliente </h1>

<b>Nombre :</b>  %NAME% 
</br>
</br>

<b>Número de Celular :</b> +57  %PHONE%
</br>
</br>

<b>Correo Electronico :</b>  %EMAIL%
</br>
</br>

<b>Dirección :</b>  %DIRECTION%
</br>
</br>


