<h1> Datos del Producto </h1>

<b>Código :</b> 
</br>
%CODE% 
</br>
</br>

<b>Nombre :</b> 
</br>
%NAME% 
</br>
</br>

<b>Précio :</b> 
</br>
$ %PRC%
</br>
</br>

<b>descripción :</b> 
</br>
%DESC%
</br>
</br>
</br> 

